<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>MAJOR PROJECT</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
        <link rel="stylesheet" href="static/style.css">
    </head>
<body>
    <div class="container">
        <header>
            <a href="#" class="logo">PIET</a>
            <div id="menu" class="fas fa-bars"></div>
            <nav class="navbar">
                <a href="home.html">HOME</a>
                <a href="course.html">COURSE</a>
                <a href="minor.html"> MINOR PROJECTS</a>
                <a href="https://piet-nikita-power.herokuapp.com/predict?home=2&SqFt=4&bed=6&bath=8">MAJOR PROJECT</a>
                <a href="about.html">ABOUT US</a>
            </nav>
        </header>
    </div>
    <script src="static/script.js"></script>
</body>
</html>